* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

header {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(219, 156, 20);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    h1 {
        font-size: 19px;
    }
}

form {
    margin-top: 65px;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;


    .method {
        display: flex;
        margin-bottom: 20px;
        gap: 10px;


        select {
            width: max-content;
            border: 1px solid black;
            padding: 2px 5px;
            border-radius: 3px;
            font-size: 15px;
            margin-bottom: 20px;
            height: 40px;

            option {
                font-size: 15px;
            }
        }

        textarea {
            width: 100%;
            border: 1px solid black;
            padding: 5px 5px;
            border-radius: 3px;
            font-size: 15px;
            line-height: 25px;
            height: 40px;
        }
    }



    .body {
        display: flex;
        justify-content: space-between;

        label {
            font-size: 14px;
            font-family: sans-serif;
        }

        button {
            border: none;
            background-color: rgb(9, 94, 3);
            padding: 5px 10px;
            border-radius: 3px;
            color: white;
            font-size: 13px;
        }
    }

    #body {
        padding: 10px;
        border: none;
        background-color: rgb(44, 43, 43);
        border-radius: 3px;
        color: rgb(201, 198, 198);
        font-size: 15px;
        letter-spacing: 2px;
    }

    #btn {
        border: none;
        background-color: rgb(9, 94, 3);
        padding: 10px 10px;
        border-radius: 3px;
        color: white;
        font-size: 16px;
    }



}



.response {
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 100px;


    textarea {
        width: 100%;
        padding: 10px 30px 10px 10px;
        background-color: rgb(44, 43, 43);
        border-radius: 3px;
        border: none;
        color: rgb(201, 198, 198);
        letter-spacing: 2px;
        font-size: 15px;
    }
}



/* Mobile */
@media screen and (max-width: 480px) {

    header {
        height: 45px;

        h1 {
            font-size: 19px;
        }
    }

    form {
        width: 100%;

        .method {
            flex-direction: column;
            gap: 0;

            select {
                font-size: 15px;
            }

            textarea {
                font-size: 16px;
            }
        }
    }

    .response {
        width: 100%;

        textarea {
            padding: 10px;
            font-size: 15px;
        }
    }

}


/* Tablet */
@media screen and (480px<=width<=850px) {

    header {
        height: 50px;

        h1 {
            font-size: 19px;
        }
    }

    form {

        .method {
            flex-direction: column;
            gap: 0;


            select {
                font-size: 15px;

                option {
                    font-size: 15px;
                }
            }

            textarea {
                border: 1px solid black;
                padding: 5px 5px;
                border-radius: 3px;
                font-size: 15px;
            }
        }

    }


}